<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Website Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/Style/styles.css">
</head>

<body>

    <div class="header">
        <h1>Bienvenido a Tu Cuenta</h1>
        <p>¡Gracias por utilizar nuestro servicio!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-info">
                    <h2>Mi Cuenta</h2>
                    <p><strong>Nombre:</strong> Usuario</p>
                    <p><strong>Correo Electrónico:</strong> usuario@example.com</p>
                    <p><strong>Teléfono:</strong> +123456789</p>
                    <p><strong>Dirección:</strong> Calle 123, Ciudad</p>
                    <a href="#" class="btn btn-edit-profile">Editar Perfil</a>
                    <a href="#" id="close_sesion">
                        <button type="button" class="btn btn-logout" id="btn_logout">Cerrar Sesion</button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Actividades Recientes</h2>
                <div class="card recent-activities">
                    <div class="card-body">
                        <h5 class="card-title">Compra realizada</h5>
                        <p class="card-text">Se ha realizado una compra por un total de $100.</p>
                    </div>
                </div>
                <div class="card recent-activities">
                    <div class="card-body">
                        <h5 class="card-title">Cambio de contraseña</h5>
                        <p class="card-text">Se ha cambiado la contraseña de la cuenta.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Todos los derechos reservados 2024 - Juan Mario</p>
    </div>
    <script type="module" src="../Controllers/home.js"></script>

</body>

</html>